{{ trmnl }}
4 keys
{
  "user": {
    "id": 17065,
    "name": "Nikolaus Koren",
    "first_name": "Nikolaus",
    "last_name": "Koren",
    "locale": "en",
    "time_zone": "Berlin",
    "time_zone_iana": "Europe/Berlin",
    "utc_offset": 3600
  },
  "device": {
    "friendly_id": "MP294C",
    "percent_charged": 73.33,
    "wifi_strength": 80,
    "height": 480,
    "width": 800
  },
  "system": {
    "timestamp_utc": 1764451719
  },
  "plugin_settings": {
    "instance_name": "Mission Control",
    "strategy": "polling",
    "dark_mode": "no",
    "no_screen_padding": "no",
    "polling_headers": "",
    "polling_url": "https://raw.githubusercontent.com/nikokoren/mission_control/refs/heads/main/launch.json"
  }
}
